/venv/
/.ipynb_checkpoints/

/code/GIS/basemap-1.2.1-cp37-cp37m-win_amd64.whl
/code/GIS/DataMiningsql.py
/code/GIS/demo.py
/code/GIS/DM.py
/code/GIS/map图.html
/code/GIS/MyDM.py
/code/GIS/place.txt
/code/GIS/test.html
/code/GIS/test.txt
/code/GIS/show_geo-master/
/code/.ipynb_checkpoints/
/.idea/
/code/Pandas_Learn.ipynb
/code/dataClean.ipynb
/code/pyTsetlinMachine-master/
